.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
    background:  linear-gradient(0deg, #8d8d8d82, #e1ffea22 60%);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo p{
    color: #ff5a5a;
    font-size: 15px;
    font-weight: 700;
}
.footer-logo img{
    width: 50px;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 16px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 10px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-icons-container img{
    width: 25px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 16px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}
/* css for toggle */
.footer-links .toggle-button {
    position: relative; 
}
/* Style for the toggle button */
.toggle-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
  }
  
  /* Style for the dropdown menu */
  .dropdown {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  /* Style for the dropdown items */
  .dropdown li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style for links inside dropdown items */
  .dropdown a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  /* Change background color on hover */
  .dropdown li:hover {
    color: #ff5a5a;
  }
  

  
@media(max-width:800px){
    .footer-links{
        gap: 20px;
        font-size: 14px;
    }
}